@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Akademi</h1>
    <p>
        <a asp-controller="Course" asp-action="Apply" class="btn btn-primary">
            Apply
        </a>
    </p>
</div>
