@page "/getintouch"

<div class="text-center border-bottom my-5 rounded">
  <h6 class="display-6">Contact</h6>
  <div class="lead">
    <i class="fa fa-phone bg-secondary text-white rounded-5 my-3 p-3"></i>
    <p>
      ALO 120 BTK Akademi bilgi ve destek hattı
    </p>
    <i class="fa-solid fa-address-book bg-secondary text-white rounded-5 my-3 p-3"></i>
    <p>
      Eskişehir Yolu, Çankaya / Ankara
    </p>
    </p>
    <i class="fa-solid fa-envelope bg-secondary text-white rounded-5 my-3 p-3"></i>
    <p>
      destek@mails.com
    </p>
  </div>
</div>
