@model IEnumerable<Category>

<div class="my-4">
  <div class="list-group">
    @foreach (var cat in Model)
    {
      <li class="list-group-item">
        @cat.CategoryName
      </li>
    }
  </div>
</div>