@page "/getintouch"

<div class="text-center border my-5 rounded">
  <h6 class="display-6">Contact</h6>
  <div class="lead">
    <i class="fa fa-phone text-primary my-3"></i>
    <p>
      ALO 120 BTK Akademi bilgi ve destek hattı
    </p>
    <i class="fa-solid fa-address-book text-warning my-3"></i>
    <p>
      Eskişehir Yolu, Çankaya / Ankara
    </p>
    </p>
    <i class="fa-solid fa-envelope text-danger my-3"></i>
    <p>
      destek@mails.com
    </p>
  </div>
</div>
